
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
@await Component.InvokeAsync("_HeadComponentPartial")
<body id="top">

    <!-- header
    ================================================== -->
    @await Component.InvokeAsync("_NavbarComponentPartial")
    <!-- home
    ================================================== -->
    <!--main photo -->
    @await Component.InvokeAsync("_FeatureComponentPartial")
    <!-- about
    ================================================== -->
    
    @await Component.InvokeAsync("_AboutComponentPartial")
   
    <!-- end about -->
    <!-- works
    ================================================== -->

    @await Component.InvokeAsync("_PortfolioCompenentPartial")
    
    <!-- testimonials
    ================================================== -->
    @await Component.InvokeAsync("_TestimonialComponentPartial")
   
     <!-- end s-testimonials -->
    <!-- blog
    ================================================== -->
     <!-- end s-blog -->
    <!-- s-cta
    ================================================== -->
    


    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_StatisticsComponentPartital")
    <!-- s-stats
    ================================================== -->
    @await Component.InvokeAsync("_ContactComponentPartial")
     <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    @await Component.InvokeAsync("_FooterComponentPartial")
   

</body>

</html>